body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* prevent the body from scrolling */
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 200px; /* width of side section */
    width: 100%;
    height: 60px; /* adjust as needed */
    z-index: 1000;
}

#side-section {
    position: fixed;
    left: 0;
    width: 200px; /* adjust as needed */
    height: calc(100% - 60px);
    z-index: 999;
}

#primary-section {
    position: absolute;
    top: 60px;
    left: 200px; /* same as side-section width */
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

#chat-input {
    width: 100%;
}

#convo-div {
    min-height: 100vh;
}

.chat-box {
    position: sticky;
    bottom: 0;
    border-top: 1px;
    display: flex;
    width: 100%;
    z-index: 10;
}
